<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUiDevelopment"
        tools:targetApi="31">
        <activity
            android:name=".que_2.NumberActivity"
            android:exported="false" />
        <activity
            android:name=".que_9.PdfActivity"
            android:exported="false" />
        <activity
            android:name=".que_17.ToolBarActivity"
            android:exported="false" />
        <activity
            android:name=".que_16.SeekBarActivity"
            android:exported="false" />
        <activity
            android:name=".que_15.RadioButtonBackgroundColorActivity"
            android:exported="false" />
        <activity
            android:name=".que_14.StringListActivity"
            android:exported="false" />
        <activity
            android:name=".que_12.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".que_10.TextSizeActivity"
            android:exported="false" />
        <activity
            android:name=".que_8.TableLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".que_8.TableLayoutMainActivity"
            android:exported="false" />
        <activity
            android:name=".que_7.TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".que_4.Activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".que_2.PrintNumbersActivity"
            android:exported="false" />
        <activity
            android:name=".que_11.EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".que_3.RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".que_1.QuestionOneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>